.main{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #CC0000;
    background-color: #d2cdca;
    z-index: -2;
}

.background{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1{
    line-height: 50rem;
}

.nav-bar-right{
    position: fixed;
    right: 0%;
    top:0%;
    font-size: 5rem;
    height: 100%;
}
.nav-bar-right #social{
    position: absolute;
    bottom: 3%;
    width: 100%;
}
.nav-bar-right #social img{
    height: 5rem;
}
.nav-bar-top{
    position: fixed;
    top: 0;
    display: flex;
    font-size: 2rem;
    width: 100%;
}
.nav-bar-top .nav-button{
    margin-right:3rem;
}

.nav-button{
    display: inherit;
    font-family: fantasy;
}

a:not([href]):not([tabindex]):hover {
    color: blue;
    /* text-decoration: none; */
    cursor: pointer;
}

.background-img-trans-enter-active {
    transition: all 3s ease;
}
.background-img-trans-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.background-img-trans-enter, .background-img-trans-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
    opacity: 0;
}