.container{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: tomato;
}

h1{
    line-height: 50rem;
}